.bg-body-tertiary {
    background-color: #ffdddd !important;
    color:#40004A !important;
}

footer {
    margin-top: auto;
}

/* navbar */
.nav-item{
font-size: 1.5rem;
}

/* carrousel */
.carousel-control-prev,
.carousel-control-next,
.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 1;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:#FFDDDD;
    opacity: 1;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #40004A;
    opacity: 1;
}
.carousel-control-prev {
    left: 7vh;
}
.carousel-control-next {
    right: 7vh;
}
.carousel-indicators .active {
    background-color: #40004A
  }
.carousel-indicators button{
    background-color: #FFDDDD;
    transition: background-color 0.3s ease;
}

/* Snake */

#gameContainer{
    text-align: center;
    margin-top: 3rem;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#highScore{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
